.avatar {
	width: 55px;
	margin-bottom: 15px;
}
.navbar .container-avatar,
.pub-image .container-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 1rem;
}
.navbar .container-avatar img,
.pub-image .container-avatar img {
	height: 100%;
}

.pub-image {
	margin-bottom: 25px;
}

.pub-image .container-avatar {
	float: left;
	margin-right: 15px;
}

.pub-image .data-user {
	font-weight: bold;
	line-height: 35px;
}

.pub-image .data-user a {
	color: #444;
}



.image-container {
	max-height: 500px;
	overflow: hidden;
	/*overflow: visible;*/

	width: 100%;
}

.image-container img {
	width: 100%;
}

.image-detail {

	width: 70%;
}

.pub-image .card-body {
	padding: 0;
}

.pub-image .description {
	padding: 0 20px;
}

.pub-image .comments {
	margin: 10px;
}



.profile-user .container-avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.profile-user .container-avatar img {
	height: 100%;
	width: 100%;
}

.profile-user .user-info {
	float: left;
	padding-left: 30px;
	padding-top: 30px;
}

.btn-search {
	margin-left: 0;
	padding-left: 0;
}
.image-container1{
	display: flex;
	flex-direction: row;
	width: 100%;


}
.perfil{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width:100%;
}


  /**Head form**/

  h1{
      text-align: center;
      background: #fff;
      padding: 15px 0 15px 0;
      font-family: 'Lobster', cursive;
      color: #000;
      letter-spacing: 2px;
      text-shadow: 2px 2px #eee;

  }
  .style{


    border: 8px solid orange;
    padding: 10px;
    border-radius: 60px 20px;

  }
  .titulo{
    font-family: 'Shizuru', cursive;
    font-size: 32px;



  }
  
 



